<footer>
    <div class="footer-content">
        <div class="contact-info">
            <a href="https://github.com/DaelonSuzuka">
                <img src="https://img.shields.io/badge/DaelonSuzuka-2ea44f?logo=github" alt="DaelonSuzuka">
            </a>
        </div>
        <div class="contact-info">
            <a href="https://ko-fi.com/daelon">
                <img src="https://img.shields.io/badge/daelon-blue?logo=kofi" alt="daelon">
            </a>
        </div>
        <div class="contact-info">
            <a href="https://daelon.itch.io/">
                <img src="https://img.shields.io/badge/daelon-gray?logo=itch.io" alt="daelon">
            </a>
        </div>
        <div class="contact-info">
            <a href="https://www.linkedin.com/in/daelonsuzuka/">
                <img src="https://img.shields.io/badge/David_Kincaid-blue?logo=linkedin" alt="David Kincaid">
            </a>
        </div>
    </div>
</footer>